<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.flipkartTestCases.ProductPurchase"/>
      <class name="com.flipkartTestCases.AirTicket"/>
      <class name="com.flipkartTestCases.LoginTestCase"/>
      <class name="com.flipkartTestCases.AboutUs"/>
      <class name="com.flipkartTestCases.BecomeASeller"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
